DIRECTUS_PORT=8055
DIRECTUS_PUBLIC_URL=https://selfcms.stasis-wp.ru
DIRECTUS_CORS_ORIGIN=https://podgoroy.stasis-wp.ru

DIRECTUS_KEY=replace-with-long-random-key
DIRECTUS_SECRET=replace-with-long-random-secret

DIRECTUS_ADMIN_EMAIL=admin@stasis-wp.ru
DIRECTUS_ADMIN_PASSWORD=replace-with-strong-password

DIRECTUS_DB_DATABASE=podgoroy_cms
DIRECTUS_DB_USER=podgoroy_cms
DIRECTUS_DB_PASSWORD=replace-with-strong-db-password
